.box{
    border: 1px solid red;
    background: #F8FA9D;
   }

.main_Container{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 165px auto auto 100px;
	grid-template-areas:
		"header"
		"navigation"
		"featured"
		"footer";
	border: 2px solid yellow;

}

	.header_sections{
		display: grid;
		grid-area: header;
		grid-template-columns: 100%;
		grid-template-rows: 100px 1fr;
		grid-template-areas:
			"logo"
			"nav_bar";
		border: 1px solid red;
		margin: 5px;
	}
		.logo_area{
			display: flex;
			flex-direction: row;
			grid-area: logo;
		}
		.nav_area {
			display: flex;
			flex-direction: row;
			grid-area:nav_bar;
			margin: 0;
			text-align: center;
 			justify-content: space-between;
			flex-grow: 1;
			align-items: stretch;
			align-content: stretch;
		}
        .nav_area a { 
			text-decoration: none;
		}
.nav_item{
	border: 2px solid red;
	flex-grow: 1;
	padding: 15px
}

	.navigation{
		display: flex;
		grid-area: navigation;
		padding: 10px;
		margin: 5px;
	}

	.featured{
		display: flex;
		grid-area: featured;
		padding: 10px;
		margin: 5px;
		min-height: 400px;
	}

	.footer{
		display: flex;
		grid-area: footer;
		padding: 10px;
		margin: 5px;
		min-height:50px;
	}

@media (min-width:600px){
	.main_Container{
		display: grid;
		grid-template-columns: 32.5% 32.5% 35%;
		grid-template-rows: 320px 600px 150px;
		grid-template-areas:
			"header header header"
			"featured featured navigation"
			"featured featured navigation"
			"footer footer footer";
		border: 2px solid yellow;
		max-width: 1200px;
		margin: 0 auto;
	}
}
@media (min-width:600px){
		.header_sections{
		display: grid;
		grid-area: header;
		grid-template-columns: 100%;
		grid-template-rows: 125px 125px auto;
		grid-template-areas:
			"logo logo logo"
			"logo logo logo"
			"nav_bar nav_bar nav_bar";
		border: 2px solid blue;
		margin: 5px;
	}
}